body {
    overflow: hidden;
    margin: 0%;
}
#Main {
    width: 1920px;
    height: 1080px;
    /* image-rendering: pixelated; */
}
main {
    align-items: center;
    justify-content: center;
    text-align: center;
}
#head {
    padding: 30px;
    background-color: red;
}
#logo {
    align-self: flex-start;
    width: max-content;
    height: 50px;
}